:root{
    --primary-color: #072188;  /* headings, callout background */
    --secondary-color: #f3ede1 ; /* footer, longer text background */
    --button-color:  #ffff; /* button, text when in primary-color */
    --text-color: #000;  /* text when in secondary-color */ 
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }
  

  .service-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    justify-items: center;
    max-width: 1000px;
    width: 100%;
    margin-bottom: 2rem;
  }
  
  /* Button Styles */
  .service-button {
    width: 250px;
    height: 160px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: -5px 4px 10px rgba(0, 0, 0, 1.5);
    position: relative;
    cursor: pointer;    
    transition: transform 0.2s ease;
  }
  
  .service-button:hover {
    transform: scale(1.4);   
  }

  .service-button img{
    width: 100%;
    height: 100%;
  }
  
  .button-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .caption {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: var(--button-color);
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    padding: 6px 0;
  }
  
  .caption:hover{
    background-color: #ea8007;
  }


  /* Service Details */
  .service-details {
    width: 100%;
    max-width: 600px;
    background-color: var(--primary-color);
    color: var(--button-color);
    padding: 20px;
    border-radius: 8px;
    margin-top: 1rem;
  }
  
  .hidden {
    display: none;
  }
  
  /* Responsivo para celular */
  @media (max-width: 768px) {
    .service-grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  